<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View province</title>
</head>
<body>
<h1>View province: <span th:text="${province.name}"></span></h1>
<a href="/provinces">Province list</a>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Image</th>
  </tr>
  <th:block th:each="product : ${products}">
    <tr>
      <td th:text="${product.name}"></td>
      <td th:text="${product.price}"></td>
      <td><img width="150" height="150" th:src="@{'/image/' + ${product.image}}" alt=""></td>
    </tr>
  </th:block>
</table>
</body>
</html>