<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Detail</title>
</head>
<body>
<h1>Product Detail</h1>
<p>
  <a href="/products">Customer list</a>
</p>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Province</th>
    <th>Image</th>
  </tr>
  <th:block th:each="details : ${detail}">
    <tr>
      <td th:text="${details.name}"></td>
      <td th:text="${details.price}"></td>
      <td th:text="${details.province.name}"></td>
      <td><img width="150" height="150" th:src="@{'/image/' + ${details.image}}" alt=""></td>
    </tr>
  </th:block>
</table>
</body>
</html>